<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="error403">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-2 text-center">
          <p><i class="fas fa-ban fa-5x"></i><br/>Status Code: 403</p>
        </div>
        <div class="col-md-10">
          <h3 class="text-danger">OPPSSS!!!! Sorry...</h3>
          <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>Please go back to the previous page to continue browsing.</p>
          <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
        </div>
      </div>
    </div>
  </div>

  <div th:fragment="error404">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-2 text-center">
          <p><i class="fas fa-frown fa-5x"></i><br/>Status Code: 404</p>
        </div>
        <div class="col-md-10">
          <h3 class="text-danger">OPPSSS!!!! Sorry...</h3>
          <p>Page not found.<br/>Please go back to the previous page to continue browsing.</p>
          <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
        </div>
      </div>
    </div>
  </div>

  <div th:fragment="error500">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-2 text-center">
          <p><i class="fas fa-exclamation-triangle fa-5x"></i><br/>Status Code: 500</p>
        </div>
        <div class="col-md-10">
          <h3 class="text-danger">OPPSSS!!!! Sorry...</h3>
          <p>Something went wrong on our end. We are currently trying to fix the problem.<br/>Please go back to the previous page to continue browsing.</p>
          <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>